
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);

  --slate-500: hsl(216, 15%, 48%);

  --slate-900: hsl(218, 44%, 22%);
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
  height: 100vh;
}
p{
  font-size:15px;
  font-family: 'Outfit', sans-serif;
}
.font1{
  margin: 15px;
  font-weight: 700;
  text-align: center;

}

.font2{
  margin: 15px;
  font-weight: 400;
  text-align: center;
  font-size: 10px;
  color: var(--slate-900);

}

.box{

  width: 200px;
  height: 330px;
  background-color: var(--white);
  border-radius: 10px;
}
.container{
  text-align: center;
}
.container img {
  margin: 10px auto;
  max-width: 100%;
  width: 180px;
  border-radius: 10px;


}
